<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cattle.house.mapper.RecordMapper">

    <!--查询明细详情-->
    <select id="getRecord" parameterType="com.cattle.house.bean.RecordBean"
            resultType="com.cattle.house.bean.RecordBean">
        select *
        from house_record
        where r_id = #{r_id}
    </select>

    <!--保存明细-->
    <insert id="saveRecord" parameterType="com.cattle.house.bean.RecordBean">
        insert into house_record(r_id, r_type, r_money, r_date, r_msg, r_create_time)
            value (#{r_id}, #{r_type}, #{r_money}, #{r_date}, #{r_msg}, #{r_create_time})
    </insert>

    <!--修改明细-->
    <update id="updateRecord" parameterType="com.cattle.house.bean.RecordBean">
        update house_record
        set r_type        = #{r_type},
            r_money       = #{r_money},
            r_date        = #{r_date},
            r_msg         = #{r_msg},
            r_create_time = #{r_create_time}
        where r_id = #{r_id}
    </update>

    <!--删除明细-->
    <delete id="deleteRecord" parameterType="com.cattle.house.bean.RecordBean">
        delete
        house_record where r_id =
        #{r_id}
    </delete>

    <!--查询用户列表-->
    <select id="getRecordList" parameterType="com.cattle.house.bean.RecordBean"
            resultType="com.cattle.house.bean.RecordBean">
        select *
        from house_record
    </select>

    <!--查询余额-->
    <select id="getRecordBalance" resultType="java.math.BigDecimal">
        select sum(if(r_type=1,-r_money,r_money)) from house_record
    </select>

</mapper>
